<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Relámpago Pricense FC</title>
</head>
<body>
  <nav>
    {% if user.is_authenticated %}
      Bienvenido, {{ user.name }} |
      <a href="{% url 'tienda' %}">Tienda</a> |
      <a href="{% url 'carrito' %}">Carrito</a> |
      <a href="{% url 'logout' %}">Cerrar sesión</a>
    {% else %}
      <a href="{% url 'login' %}">Iniciar sesión</a> |
      <a href="{% url 'registro' %}">Registrarse</a>
    {% endif %}
  </nav>
  <hr>

  {% block content %}{% endblock %}
</body>
</html>
