{% extends "base_inicio.html" %}
{% load static %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
  <h1>Restablecer Contraseña</h1>
  <p class="subtext" style="color: #f1c40f; margin-bottom: 25px;">
    Introduce tu nueva contraseña a continuación.
  </p>

  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div style="color:red; font-size: 14px; margin-top: 5px;">
            {{ field.errors.0 }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn">Guardar nueva contraseña</button>
  </form>
{% endblock %}
