{% extends "base_inicio.html" %}
{% load static %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="auth-image"></div>

  <div class="auth-form">
    <h1>Recuperar_plantillaNO_BASE Contraseña</h1>
    <p>Introduce tu correo electrónico para recibir un enlace de recuperación.</p>

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>
      <button type="submit" class="btn">Enviar</button>
    </form>

    <a href="{% url 'login' %}" class="link">Volver al login</a>
  </div>
</div>
{% endblock %}
