{% extends "base_inicio.html" %}
{% load static %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
  <h1>Recuperar Contraseña</h1>
  <p class="subtext" style="margin-bottom: 25px; color: #f1c40f;">
    Introduce tu correo electrónico para recibir un enlace de recuperación.
  </p>

  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_email">Correo Electrónico:</label>
      {{ form.email }}
      {% if form.email.errors %}
        <div style="color:red; font-size: 14px; margin-top: 6px;">
          {{ form.email.errors.0 }}
        </div>
      {% endif %}
    </div>
    <button type="submit" class="btn">Enviar</button>
  </form>

  <div style="margin-top: 20px;">
    <a href="{% url 'login' %}" class="link">Volver al login</a>
  </div>
{% endblock %}
